%%% -*- mode: erlang -*-

%% Additional library directories to add to the code path
{lib_dirs, ["./"]}.

%% Dialyzer options
%%{dialyzer_opts, [{plt, "~/.dialyzer_plt.R14B01"}]}.

%% Require OTP version R13B04 or R14
{require_otp_vsn, "R13B04|R14"}.

%% Sub directories
{sub_dirs, ["gmt-bom"
            , "gmt-util"
            , "cluster-info"
            , "partition-detector"
            , "congestion-watcher"
            , "mochiweb"
            , "ubf"
            , "ubf-jsonrpc"
            , "ubf-thrift"
            , "gdss-brick"
            , "gdss-client"
            , "gdss-admin"
            , "gdss-ubf-proto"
            , "gdss-json-rpc-proto"
            , "gdss-s3-proto"
           ]}.
